h1 {
	text-align: center;
}
form {
	display: flex;
	flex-direction: column;
	width: 410px;
	margin: 0 auto;
}
form label {
	margin-bottom: 10px;
}
form input {
	margin-bottom: 10px;
	padding: 5px;
}
input {
	outline: 0;
	border: 1px solid grey;
	box-shadow: 0 0 3px grey;
}

form > div {
	position: relative;
	display: flex;
	align-items: center;
	flex-direction: column;
}
form button, form input[type="reset"] {
	width: 50%;
	margin: 10px auto;
}

/*------------------------------------------*/

/* Focus fields*/
form input:focus {
	border: 1px solid blue;
}
/* Valid fields */
form input:valid:not(:focus):not(:placeholder-shown) {
	border: 1px solid green;
	box-shadow: 0 0 3px green;
}
/* Invalid fields */
form input:invalid:not(:focus):not(:placeholder-shown) {
	border: 1px solid red;
	box-shadow: 0 0 3px red;
}

/* Required fields*/
form div .input-holder input:required + .help-text::after {
	content: '*';
	position: absolute;
	color: red;
	margin-left: 7px;
	margin-top: 7px;
}